@import 'normalize.css';
@import 'reset.css';
@import 'grid.css';
@import '404.css';

/* gerais */
body {
	/* font-family: 'Roboto', sans-serif; */
	font-family: 'Open Sans', sans-serif;
	color: #0C0F14;
}

.btn {
	border: 3px solid #0C0F14;
  padding: 10px 30px;
/*  font-family: 'Roboto', sans-serif;*/
	color: #0C0F14;
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	font-weight: bold;
  letter-spacing: .1em;
  border-radius: 10px;
}

.btn:hover {
	color: #DC143C;
	border-color: #DC143C;
}

.box-shadow {
	box-shadow: 0 4px 6px 0 rgba(0,0,0,.06), 0 6px 12px 0 rgba(0,0,0,.06);
}
/* header */
.header {
	position: fixed;
	top: 0;
	width: 100%;
	background: #F7FFF7; 
	padding: 10px 0;
	z-index: 10;
	border-bottom: 2px solid #DC143C;
}

.header .container>a {
	font-family: 'Fredoka One', cursive;
	font-size: 3em;
	color: #0C0F14;
}

.header .container>a:hover {
	color: #DC143C;
	transition: .3s;
}

.header .container>a span {
	color: #DC143C;
}

.header .container>a span:hover {
	color: #0C0F14;
	transition: .3s;
}

.header_nav {
	text-align: right;
}

.header_nav ul li {
	display: inline-block;
	margin-left: 25px;
	margin-top: 25px;
}

.header_nav ul li a {
	color: #000;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size: 0.875em;
	line-height: 1.25em;
	padding: 10px 0;
}

/* home */
.home-intro {
	width: 100%;
	height: 460px;
	background: url("../img/avengers-post.jpg") no-repeat center;
	background-size: cover;
	margin-top: 80px;
	border-bottom: 2px solid #DC143C;
}

/* ingressos */

.ingressos{
	padding-top: 40px;
	text-align: center;
        margin-bottom: 250px;
}

.ingressos h1{
  padding: 10px 30px;
	color: #0C0F14;
	font-size: 32px;
	text-transform: uppercase;
	font-weight: bold;
  letter-spacing: .1em;
}

.ingressos h1:after{
	content: "";
	display: block;
	height: 4px;
	width: 60px;
	background-color: #DC143C;
	margin: 10px auto 10px auto;
}

.ingressos p {
    margin-bottom: 60px;
}


.footer {
    width: 100%;
    background: #DC143C; 
    padding: 40px 0;
}

/*tabela*/
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/*addfilme*/
.addFilme form {
    margin-bottom: 20px;
}
